body{
    margin: 0;
    padding: 0;
}

#desktop{
    width: 100vw;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
}

#desktop-grid-apps{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    height: 95dvh;
}

.square{
    width: 5vw;
    aspect-ratio: 1/1;
    outline: 2px solid red;
}

.folder-or-file{
    width: 2.5vw;
    aspect-ratio: 1/1;
}

#nav-apps{
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 5dvh;
    width: 100vw;
    background-color: rgba(35, 35, 35, 0.949);
}

@media (orientation: portrait){
    #desktop-grid-apps{
        grid-template-columns: repeat(10,1fr);
    }
    
    .square{
        width: 10vw;
    }
}